/* Para permitir o "flex:1" no main */
.home{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;

  /* Ocupar todo o tamanho para o footer ficar embaixo */
  flex: 1;
}

/* Titulo "h1" e "div" rectangle */
div > .header {
  margin: 2rem 0;
}
.header > .title {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}
.header > .rectangle {
  width: 2.5rem;
  border: 4px solid #FBB03F;
  background-color: #FBB03F;
}

/* layout de todos os posts após o primeiro */
.allPosts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Posts */
.article {
  display: flex;
  box-shadow: 0 0 6px lightgray;
  border-radius: 5px;
}
.latestPost .article{
  height: 16rem;
  margin-bottom: 20px;
}
.allPosts .article {
  flex-direction: column;
  height: 32rem;
}

.article > .aside {
  display: flex;
  flex: 2.1;
}

.aside > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.latestPost .aside > img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.allPosts .aside > img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.article > .container {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.allPosts .article > .container {
  flex: 1.5;
}
.latestPost .article > .container {
  padding: 3rem 2rem;
}
.allPosts .article > .container {
  padding: 2rem;
}

/* Conteúdo do container de cada article */
.container > .content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

/* Titulo dos posts */
.content > .title {
  line-height: 2rem;
  width: fit-content;
  
  /* Permitir no máximo 2 linhas */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Descrição de cada post */
.content > .description {
  margin-top: 0.5rem;

  /* Permitir no máximo 2 linhas */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.container > .readMore {
  display: flex;
  justify-content: flex-end;
}

.readMore > a {
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

a:hover {
  filter: brightness(0.9);
  text-decoration: underline;
}


@media(max-width: 900px){
  .article > .aside {
    flex: 4.6;
    display: flex;
  }
  .allPosts .article > .container {
    flex: 4;
    display: flex;
  }
  .allPosts {
    grid-template-columns: 1fr 1fr
  }
}

@media(max-width: 600px){
  *{
    font-size: 100%;
  }
  .allPosts {
    grid-template-columns: 1fr
  }
  .latestPost .article {
    height: 8rem; 
  }
  .allPosts .article {
    flex-direction: row;
    height: 8rem;
  }
  .article > .aside {
    flex: 3;
  }
  .latestPost .article > .container {
    padding: 1rem;
  }
  .allPosts .article > .container {
    padding: 1rem;
  }
}