* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Titillium Web, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}

h1, p {
  color: #666666;
}

h2, h3, a {
  color: #0DADAE
}